.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url('https://raw.githubusercontent.com/StartBootstrap/startbootstrap-landing-page/refs/heads/master/src/assets/img/bg-masthead.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.call-to-action:before {
    content: '';
    position: absolute;
    background-color: rgba(23, 162, 184, 0.75);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}
